<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Donation goal:</strong>
    <%= project.donation_goal %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= truncate(strip_tags(project.description)) %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user.email %>
  </p>

</div>
