

<h1 class = "d-flex justify-content-center align-items-center bg-dark text-light m-0 p-0 w-100">Projects</h1>

<p style="color: green"><%= notice %></p>

<div class = "d-flex flex-col flex-wrap w-100 ">
  <% @projects.each do |project| %>
  
  <div class = "w-25 fs-4 mt-4 border thirty" ><h4 class= "text-center" >Title:  <%=project.title %> </h4>
  <p class= "text-center"> Donation goal: <%= project.donation_goal%> </p>
  <div class= "text-center">  Description:
  <%= truncate(strip_tags(project.description.to_s),length: 140)%>
 </div>
 <div class = "d-flex justify-content-center align-items-center">
  
  <%= image_tag project.thumbnail, class: "w-25 h-25 " if project.thumbnail.present?  %>
  </div> 
 
   <div class= "text-center "><%= link_to('Edit this project', edit_project_path(project),class:'bg-sky-600 m-3 p-1 rounded') %></div>
   </div>


    

  <% end %>
</div>