<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
  
  <div ><h4 > <%=project.title %> </h4>
  <p> <%= project.donation_goal%> </p>
  <%= truncate(strip_tags(project.description.to_s),length: 140)%>
  </div>

  <div> <%= link_to('Edit this project', edit_project_path(project),class:'bg-sky-600 m-3 p-1 rounded') %>
  </div>
    </p> 
  <% end %>
</div>

